@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #050505;
  color: #fff;
  scroll-behavior: smooth;
}

/* Utility Classes  very important class */

.neon-text {
  color: #00eaff;
  text-shadow: 0 0 10px #00eaffbe;
}

.container {
  width: 80%;
  margin: auto;
  max-width: 1000px;
}

.define {
  margin-bottom: 10px;
  margin-top: 15px;
  font-family: YADK4O60vp0_0, _fb_, auto;
  font-weight: 500;
  padding: 25px;
  font-style: italic;
}

.neon-gradient {
  background: linear-gradient(90deg, #ff4dff, #00eaff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/* NAV */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  /* background-color: rgb(244, 241, 232); */
  height: 48px;
  position: sticky;
  width: 100%;
  z-index: 1;
  top: 0px;
  color: #000;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-links a {
  color: #c0b1b1;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  color: #00eaff;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 30px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
}

/* HERO SECTION */
.hero {
  text-align: center;
  padding: 100px 20px 80px;   /* balanced */
  background: linear-gradient(135deg, #1b1b1b, #0f0f0f);
  border-radius: 15px;
  margin: 60px auto;
  width: 90%;
  position: relative;
}
.profile-img{
  width:130px;
  border-radius:50%;
  display:block;
  margin:0 auto 25px; /* centered properly */
}


.hero-title {
  font-size: 70px;
  font-weight: bold;
  position: relative;
  display: inline-block;
}

.hero-title .name{
  color: #00eaff;
  position: relative;
  z-index: 5;
  font-style: normal;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
}

.subtitle {
  color: #aaa;
  font-size: 18px;
  width: 60%;
  margin: 15px auto;
}

/* BUTTONS */
.btn-group {
  margin-top: 30px;
}

.btn-group img {
  height: 40px;
  vertical-align: middle;
}

/* SECTIONS */
.section {
  padding: 90px 10%;
  text-align: center;
}

.section-title {
  font-size: 10px;
  margin-bottom: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

/*EXPERIENCE WITH*/

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.section-title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  background-image: linear-gradient(90deg, #ff4d5a, #ffa84b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}

.skill {
  font-size: 20px;
  padding: 10px 18px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.06);
  transition: 0.3s ease;
}

.skill:hover {
  transform: scale(1.1);
  background: rgba(255, 255, 255, 0.15);
  cursor: grabbing;
}

/* PROJECTS */

.card {
  background: #141414;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  font-weight: 500;
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.2);
}

/* FOOTER */
footer {
  text-align: center;
  padding: 40px;
  background: #9b4819;
}

footer a {
  color: #ff4d5a;
  text-decoration: none;
}

.footer:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.2);
}

#backToTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 10px 15px;
  border: none;
  border-radius: 50%;
  background: #00eaff;
  color: #000;
  cursor: pointer;
  display: none;
  z-index: 1000;
}

/* ------------------ SCROLL ANIMATION ------------------- */
/* .reveal {
  opacity: 0;
  transform: translateY(50px);
  transition: 0.8s ease;
}
.reveal.show {
  opacity: 0;
  transform: translateY(0);
} */

/* RESPONSIVE */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background: #000;
    padding: 20px;
    position: absolute;
    top: 70px;
    right: 20px;
  }

  .hamburger {
    display: flex;
  }

  .section {
    padding: 40px 20px;
  }

  /* Smooth fade for back-to-top */
  #backToTop {
    transition: 0.4s;
  }
  #backToTop:hover {
    box-shadow: 0 0 15px #00eaff;
  }
}
